<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <!--
        在此项内存储驱动的自定义名称及连接字符串,其中name为自定义,也是稍候需要传入构造函数中的SelectName,
        而providerName与下面的DbProviderFactories节点中的invariant属性保持一致
        -->
        <add name="NpgsqlProvide" providerName="Npgsql" connectionString="Server=192.168.18.136;Port=5866;Database=tymap;User Id=tymap;Password=123456;"/>
        <add name="SqlClientProvide" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=GISTwo;Integrated Security=True"/>
        <add name="DataAccessProvide" providerName="Oracle.DataAccess.Client" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.18.68)(PORT=1521)))(CONNECT_DATA=(sid =orcl)));User Id=TESTPG;Password=TESTPG"/>
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.DataAccess.Client"/>
            <clear/>
            <!--
            有关如何配置DbProviderFactories,请自行百度网络
            在此示例中,name一般比较固定,invariant为程序集名称
            description为描述信息
            type为 程序集名称.对应的Factory,程序集名称,版本信息等(此项可以在程序集内找到)
            -->
            <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=4.112.1.2, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
            <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
            <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=4.0.5.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
        </DbProviderFactories>
    </system.data>
</configuration>